html {
    min-height: 100%;
}

body {
    font-family: "Times New Roman", serif;
    color: #0D0E29;
    background: #c8e6ff;
    background-size: contain;
    padding-bottom: 130px;
}

.header {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}



.header-image {
    width: 80%;
    margin: 20px 0;
}

@media screen and (max-width: 48em) {
    .header-image {
        width: 90%;
    }
}

.header .description {
}

.questions button {
    margin-left: 30px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

li {
    margin-bottom: 8px;
}

.results {
    text-align: center;
    padding: 60px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

.results .results-image {
    width: 80%;
    display: block;

    margin-left: auto;
    margin-right: auto;
}

#score {
    color: red;
    font-size: 36px;
}